@charset "utf-8";

@import url(normalize.css);
@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Numans,Droid+Sans);

@mixin preset {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}

.cont {
	margin: 0 auto;
	padding: 0 10px;
	width: 800px;
}

h1 {
	font-family: 'Numans', sans-serif;
}
h2,
h3,
p {
	font-family: 'Droid Sans', sans-serif;
}

h1,
.description,
h3,
pre {
	@include preset;
}

h2 {
	@include preset;
	padding-top: 20px;
}


.carousel {

	.carousel_indicator {
		padding-top: 5px;
		text-align: center;

		span {
			margin: 0 2px;
			border-radius: 5px;
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #888;
			text-indent: -1000em;

			&.active {
				background: #000;
			}
		}
	}

	.btns {
		text-align: center;
	}
}

#carousel_1,
#carousel_4 {
	margin: 0 auto;
	width: 600px;
	height: 150px;
	background: #efefef;
	overflow: hidden;

	.carousel_box {
		float: left;
		border: solid #fff 5px;
		width: 140px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;
	}
}

#carousel_2,
#carousel_5,
#carousel_6 {
	margin: 0 auto;
	width: 600px;
	height: 140px;
	overflow: hidden;

	.carousel_box {
		width: 600px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;

		&.second {
			background: #666;
		}
		&.third {
			background: #999;
		}
	}
}

#carousel_3,
#carousel_7,
#carousel_8 {
	margin: 0 auto;
	width: 600px;
	height: 150px;
	background: #efefef;
	overflow: hidden;

	.carousel_box {
		border: solid #fff 5px;
		width: 190px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;
	}
}
