@charset "utf-8";
@import url(normalize.css);
@import url(fonts.css);
.cont {
  margin: 0 auto;
  padding: 0 10px;
  width: 640px;
}

h2 {
  padding-top: 20px;
}

.carousel .carousel_indicator {
  padding-top: 5px;
  text-align: center;
}
.carousel .carousel_indicator span {
  margin: 0 2px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #888;
  text-indent: -1000em;
}
.carousel .carousel_indicator span.active {
  background: #000;
}
.carousel .btns {
  text-align: center;
}

#carousel_1,
#carousel_4 {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  background: #efefef;
  overflow: hidden;
}
#carousel_1 .carousel_box,
#carousel_4 .carousel_box {
  float: left;
  border: solid #fff 5px;
  width: 140px;
  height: 140px;
  color: #fff;
  background: #252525;
  line-height: 140px;
  text-align: center;
  font-size: 123%;
}

#carousel_2,
#carousel_5,
#carousel_6 {
  margin: 0 auto;
  width: 600px;
  height: 140px;
  overflow: hidden;
}
#carousel_2 .carousel_box,
#carousel_5 .carousel_box,
#carousel_6 .carousel_box {
  width: 600px;
  height: 140px;
  color: #fff;
  background: #252525;
  line-height: 140px;
  text-align: center;
  font-size: 123%;
}
#carousel_2 .carousel_box.second,
#carousel_5 .carousel_box.second,
#carousel_6 .carousel_box.second {
  background: #666;
}
#carousel_2 .carousel_box.third,
#carousel_5 .carousel_box.third,
#carousel_6 .carousel_box.third {
  background: #999;
}

#carousel_3,
#carousel_7 {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  background: #efefef;
  overflow: hidden;
}
#carousel_3 .carousel_box,
#carousel_7 .carousel_box {
  border: solid #fff 5px;
  width: 190px;
  height: 140px;
  color: #fff;
  background: #252525;
  line-height: 140px;
  text-align: center;
  font-size: 123%;
}
